---
layout: null
---
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Teaching</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  {% include header.html %}

  <section class="home">
    <h1>
      Teaching
    </h1>
    <h2>
      Courses in English
    </h2>
    <ul>
      <li><a href="https://skl.sh/3wJODkT">Building Data Annotation Pipelines</a></li>
      <li><a href="https://skl.sh/2ZlDxnu">Practical data analysis for coders (part 1): from .csv file to useful insights</a></li>
    </ul>
    <h2>
      Courses in Arabic
    </h2>
    <ul>
      <li><a href="https://skl.sh/3BkPI3A">Get your resume in shape</a></li>
      <li><a href="https://skl.sh/3i4NX1Q">The Missing Course: Career lessons I wish I knew when I was young</a></li>
      <li>
        Baracat's Introduction to Data Science:
        <a href="https://skl.sh/2AHM2yS">Part 1</a> &
        <a href="https://skl.sh/2A6Ze08">Part 2</a>
      </li>
    </ul>

  </section>

  {% include footer.html %}
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/smooth_scrolling.js"></script>