---
layout: null
---
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Essays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  {% include header.html %}
  <section class="home">
    <h2>Essays</h2>
    {% for post in site.posts %}
    <div>
      <a href="{{ post.url }}">
        {{ post.title }}</a>
      <p>{{post.date | date: "%-d %B %Y"}}</p>
    </div>
    {% endfor %}
  </section>
  {% include footer.html %}
</body>

</html>