---
layout: null
---
<html lang="en">

<head>
  <title>Ahmad Baracat Essays</title>
  {% include common_head.html %}
  <meta name="description" content="Ahmad Baracat Essays" />
  <meta property="og:title" content="Ahmad Baracat Essays">
  <meta property="og:description" content="Ahmad Baracat Essays">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://barac.at/esssays">
  <meta name="twitter:title" content="Ahmad Baracat Essays">
  <meta name="twitter:description" content="Ahmad Baracat Essays">
  <meta name="twitter:image" content="{{ site.url }}/assets/london_profile_circular_500.png">
</head>

<body>
  {% include header.html %}
  <section class="home">
    <h1>Essays</h1>
    {% for post in site.posts %}
    <div>
      <a href="{{ post.url }}">
        {{ post.title }}</a>
      <p>{{post.date | date: "%-d %B %Y"}}</p>
    </div>
    {% endfor %}
  </section>
  {% include footer.html %}
</body>

</html>