---
layout: null
---
<html lang="en">

<head>
  <title>Ahmad Baracat Reading List</title>
  {% include common_head.html %}
  <meta name="description" content="Ahmad Baracat Reading List" />
  <meta property="og:title" content="Ahmad Baracat Reading List">
  <meta property="og:description" content="Ahmad Baracat Reading List">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://barac.at/reading">
  <meta name="twitter:title" content="Ahmad Baracat Reading List">
  <meta name="twitter:description" content="Ahmad Baracat Reading List">
  <meta name="twitter:image" content="{{ site.url }}/assets/london_profile_circular_500.png">
</head>

<body>
  {% include header.html %}

  <section class="home">
    <h1>
      Reading
    </h1>
    <h2>
      What I've Read / Still Reading
    </h2>
    <div class="books">
      {% include books.html %}
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/smooth_scrolling.js"></script>