<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    {{ page.title }}
  </title>
  {% include common_head.html %}
  <meta name="description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}" />
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="{{ site.url }}{{ page.permalink }}">
  <meta property="article:published_time" content="{{ page.date }}">
  <meta property="article:author" content="Ahmad Baracat">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/london_profile_circular_500.png">
</head>

<body>
  {% include header.html %}
  <section class="home">
    {{ content }}
  </section>
  {% include footer.html %}
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/smooth_scrolling.js"></script>